{
    "swagger": "2.0",
    "info": {
        "description": "This is a swagger api document for Go Gin Boilerplate.",
        "title": "Go Gin Boilerplate API",
        "contact": {
            "name": "Dorvan",
            "url": "https://github.com/sanjayheaven"
        },
        "version": "v1.0.0"
    },
    "host": "go-gin-boilerplate.gganbu.services",
    "basePath": "/api/v1",
    "paths": {
        "/examples/createExample": {
            "post": {
                "description": "Create Example",
                "tags": [
                    "Example"
                ],
                "parameters": [
                    {
                        "description": "data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/examples/deleteExample": {
            "post": {
                "description": "Delete Example",
                "tags": [
                    "Example"
                ],
                "parameters": [
                    {
                        "description": "data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/examples/getExample": {
            "get": {
                "description": "Get Example",
                "tags": [
                    "Example"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "description": "the example id",
                        "name": "exampleId",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/examples/updateExample": {
            "post": {
                "description": "Update Example",
                "tags": [
                    "Example"
                ],
                "parameters": [
                    {
                        "description": "data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/public/ping": {
            "get": {
                "description": "Ping",
                "tags": [
                    "Public"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/users/loginByUsernamePassword": {
            "post": {
                "description": "Login By Username Password",
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "description": "username",
                        "name": "username",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "password",
                        "name": "password",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {}
            }
        }
    }
}