basePath: /api/v1
host: go-gin-boilerplate.gganbu.services
info:
  contact:
    name: Dorvan
    url: https://github.com/sanjayheaven
  description: This is a swagger api document for Go Gin Boilerplate.
  title: Go Gin Boilerplate API
  version: v1.0.0
paths:
  /examples/createExample:
    post:
      description: Create Example
      parameters:
      - description: data
        in: body
        name: data
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
      tags:
      - Example
  /examples/deleteExample:
    post:
      description: Delete Example
      parameters:
      - description: data
        in: body
        name: data
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
      tags:
      - Example
  /examples/getExample:
    get:
      description: Get Example
      parameters:
      - description: the example id
        in: query
        name: exampleId
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
      tags:
      - Example
  /examples/updateExample:
    post:
      description: Update Example
      parameters:
      - description: data
        in: body
        name: data
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
      tags:
      - Example
  /public/ping:
    get:
      description: Ping
      responses:
        "200":
          description: OK
          schema:
            type: string
      tags:
      - Public
  /users/loginByUsernamePassword:
    post:
      description: Login By Username Password
      parameters:
      - description: username
        in: body
        name: username
        required: true
        schema:
          type: string
      - description: password
        in: body
        name: password
        required: true
        schema:
          type: string
      responses: {}
      tags:
      - User
swagger: "2.0"
